__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/
*.yaml
!docker-compose.yml
!src/feature_store/feature_store.yaml
!customer_churn_pipeline.yaml
!openshift/**/*.yaml
!kind/**/*.yaml
!kind/*.yaml
data/registry.db
.ipynb_checkpoints/
